.tooltip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  margin-top: 2%;
  position: relative;
}

.button {
  font-size: 2rem;
  position: relative;
  padding: 17px;
  background: #f12727b5;
  color: white;
  font-weight: 600;
  border: 2px solid #3d3d71c2;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background: #a03737c7;
}

.tooltip-message-container {
  height: 50px;
  border-radius: 15px;
  width: 150px;
  background: #1f0e0ef0;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  cursor: default;
}

.message-container-position-bottom {
  top: 120%;
  left: 12%;
}

.message-container-position-top {
  bottom: 120%;
  left: 12%;
}

.message-container-position-left {
  right: 107%;
  top: 16%;
}

.message-container-position-right {
  left: 106%;
  top: 16%;
}

.arrow {
  position: absolute;
  width: 0px;
  height: 0px;
}

.upper-arrow {
  top: -12px;
  right: 20px;
  border-bottom: 20px solid #1f0e0ecf;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.down-arrow {
  top: 42px;
  left: 37px;
  border-top: 20px solid #1f0e0ecf;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.right-arrow {
  top: 5px;
  right: -11px;
  border-left: 20px solid #1f0e0ecf;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.left-arrow {
  top: 5px;
  left: -11px;
  border-right: 20px solid #1f0e0ecf;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
