/* style for tooltip container which contains button and hovered message */
.tooltip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 100%;
  margin-top: 2%;
  position: relative;
}

/* styles for center button */
.button {
  font-size: 2rem;
  position: relative;
  padding: 17px;
  background: #f12727b5;
  color: white;
  font-weight: 600;
  border: 2px solid #3d3d71c2;
  border-radius: 15px;
  cursor: pointer;
}

/* color variaion on hovering center button */
.button:hover {
  background: #a03737c7;
}

/* style for hovered message container */
.tooltip-message-container {
  height: 50px;
  border-radius: 15px;
  width: 150px;
  background: #1f0e0ef0;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  cursor: default;
}

/* basic property of arrow  */
.arrow {
  position: absolute;
  width: 0px;
  height: 0px;
}
